.main-body {
  min-height: calc(100vh);
  display: flex;
}


.sidebar {
  flex: 2;
  background-color: #2D2E2F;
}

.sidebar-header {
  height: 30px;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.main-content {
  flex: 7;
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
}

.main-content-header {
  background-color: white;
  height: 30px;
  color: black;
  font-weight: bold;
  font-size: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.main-content-body {
  display: flex;
  height: 100%;
}

.middle-section {
  flex: 2;
  background-color: #E5E8EC;
}

.right-section {
  flex: 4.5;
  background-color: #E2EBF9;
  padding: 20px 13px 13px 13px;
}

.sidebar-body {
  color: white;
  font-size: 10px;
  padding: 20px 10px 10px 10px;
}

.sidebar-body-header {
  display: flex;
  justify-content: space-between;
}

.content-name-list {
  /* list-style: none; */
  padding: 0;
  list-style-type: circle;
  /* margin: 0; */
}

.content-name-text {
  margin-top: 10px;
  cursor: pointer;
  /* background-color: white; */
  height: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
}

.middle-content-name-text {
  cursor: pointer;
}

.sidebar-content-type-builder-text {
  background-color: black;
  height: 20px;
  font-size: 8px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}

.search-icon {
  height: 12px;
}



/* MIDDLE SECTION */


.middle-section {
  padding: 13px;
}

.middle-section-header {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.middle-section-button {
  width: 100%;
  border-style: dotted;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  border-radius: 5px;
  margin-top: 10px;
}

.new-type-button {
  font-size: 10px;
  cursor: pointer;
}


/* OVERLAY */

.overlay-create-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-form {
  width: 200px;
  height: 130px;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay-form-top {
  font-weight: bold;
  font-size: 9px;
}

.content-name-input {
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.name-of-content-text {
  font-size: 6px;
}

.overlay-form-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.overlay-cancel-button {
  font-size: 7px;
  cursor: pointer;
}

.overlay-submit-button {
  font-size: 7px;
  background-color: #8A5EF3;
  width: 70px;
  height: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.middle-section-content-name-list {
  list-style: none;
  padding: 0;
  font-size: 8px;
  font-weight: bold;
}

.middle-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  background-color: white;
  margin-top: 10px;
  padding: 0 7px 0 7px;
  border-radius: 5px;
  cursor: pointer;
}

.highlighted-content {
  background-color: #8A5EF3;
}

/* RIGHT_____________SECTIONNNNNNNNN */

.right-section-middle {
  display: flex;
}

.add-another-field-button {
  width: 100%;
  border-style: dotted;
  font-weight: bold;
  font-size: 8px;
  height: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.content-schema-card {
  margin-top: 10px;
  height: 25px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 10px; */
}

.Ab-text {
  background-color: #8A5EF3;
  height: 100%;
  width: 30px;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
}

.schema-name {
  margin-left: 10px;
  font-size: 8px;
  width: 90px;
  word-wrap: break-word;
}

.content-schema-card-edit {
  height: 6px;
  margin-right: 15px;
  cursor: pointer;
}

.content-schema-card-delete {
  height: 6px;
  cursor: pointer;
}

.content-schema-card-left {
  display: flex;
  height: 100%;
  align-items: center;
}

.content-schema-card-right {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.datatype-text {
  font-size: 7px;
  margin-left: 7px;
}

.right-section-current-content-name-edit-icon {
  height: 9px;
  margin-left: 5px;
  cursor: pointer;
}

.black-highlighted {
  background-color: black;
}