.header-wrapper {
  position: absolute;
  /* position: sticky; */
  top: 0px;
  height: 40px;
  width: 100%;

  display: flex;
}

.cms {
  flex: 2;
  background-color: blueviolet;
  padding: 10px;
}

.content-type-text {
  flex: 7;
  padding: 10px;
  font-weight: bold;
}